#app {
  background: #00231f;
}

html {
  font-size: 16px;
}

.card-class {
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

.primary-button {
  display: inline-flex !important;
  cursor: pointer !important;
  align-items: center !important;
  justify-content: center !important;
  overflow: hidden !important;
  position: relative !important;
  color: #333 !important;
  background-color: #2dd4bf !important;
  padding: 0.625rem 1rem !important;
  border-radius: 2rem !important;
  font-size: 1rem !important;
}

.secondary-button {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  color: #2dd4bf;
  background-color: #333;
  border: 1px solid #2dd4bf;
  padding: 0.625rem 1rem;
  border-radius: 2rem;
  font-size: 1rem;
}
